.watermark { background: none }
body { font-family: Roboto,Helvetica,Arial,sans-serif; background-color: #fafafa; margin: 0; padding: 0 }

.mast .ap-logo { margin-right: .5em; height: 0em; width: 7em; background-image: url(https://static.particlenews.com/m/static/imgs/logo.png); background-size: 100% }
.race-top-lines .party-select.Dem { padding: .25em .2em .1em; font-size: .65em; display: inline-block; font-weight: 900; background-color: #fff; border: 1px solid #5696FF }
.race-top-lines .party-select.Dem:after { content: "DEMOCRAT"; color: #5696FF }
.race-top-lines .party-select.Dem.selected { padding: .25em .2em .1em; font-size: .65em; display: inline-block; font-weight: 900; background-color: #5696FF; border: 1px solid #5696FF }
.party-select .Dem { padding: .25em .2em .1em; font-size: .65em; font-weight: 900; background-color: #5696FF; border: 1px solid #5696FF; display: inline-block; margin: 0 1em }
.party-select .Dem.inactive { padding: .25em .2em .1em; font-size: .65em; display: inline-block; font-weight: 900; background-color: #fff; border: 1px solid #5696FF }
.party-select .Dem.inactive:after { content: "DEMOCRAT"; color: #5f9ace }

.nav .bop-summary { position: relative; display: block; width: 3.5em; margin: 0 auto; padding: .1em .3em; border-radius: .8em; text-align: center; font-family: Roboto,Helvetica,Arial,sans-serif; font-size: .9em }
.nav .bop-summary>.dem { color: #5696FF }
.nav .bop-summary>.gop { color: #FF6969 }
.office-nav .nav-button .nav-label .dropdown-caret { float: right; content: ""; display: block; width: 0; height: 0; -moz-transform: scale(.9999); border-color: #aaa transparent transparent; border-style: solid; border-width: .3em .3em 0; margin-left: .2em; margin-top: .4em }
.office-nav .nav-button .nav-label .dropdown-caret.bop { display: none }
.office-nav { padding: 0; display: flex; justify-content: center; font-family: Roboto,Helvetica,Arial,sans-serif; list-style-type: none; position: relative; margin-top: 1.2em; margin-bottom: 1.4 }
.office-nav .nav { margin-right: .5em }
.office-nav .nav-button { display: flex; margin-right: .5em; justify-content: center; cursor: pointer }
.office-nav .nav-button .label { opacity: .5 }
.office-nav .nav-button .label>:link { color: #000; text-decoration: none }
.office-nav .nav-button.selected .label { opacity: 1 }
.office-nav .nav-button .nav-label { display: flex }
.office-nav .nav-button .nav-label .dropdown-caret { float: right; content: ""; display: block; width: 0; height: 0; -moz-transform: scale(.9999); border-color: #aaa transparent transparent; border-style: solid; border-width: .4em .4em 0; margin-left: .2em; margin-top: .4em }
.office-nav .nav-button .nav-label .dropdown-caret.bop { display: none }
.office-nav .nav-button>div { font-size: 1em; font-weight: 800 }
@media screen and (min-width:580px) { .office-nav .nav-button>div { font-size: 1em } }
.office-nav .office-list { text-transform: none; max-height: 19.5em; margin-top: 2em; z-index: 10; background-color: #fff; padding: .8em; list-style-type: none; position: absolute; overflow: auto; font-size: .9em; line-height: 2.4em; border-radius: 12px; box-shadow: 6px 15px 30px #aaa }
.office-nav .office-list>.inactive { color: #ccc; font-weight: 400 }
.office-nav .office-list>.active a { text-decoration: none; color: #333; font-weight: 600 }

.bop .count.dem { color: #5696FF }
.bop .count.gop { color: #FF6969 }

.bop .bop-tooltip>.state { font-family: Roboto,Helvetica,Arial,sans-serif; font-size: .9em }
.bop .bop-tooltip>.dem { color: #5696FF }
.bop .bop-tooltip>.gop { color: #FF6969 }

.bop .bar { clear: both; width: calc(100% - 2px); height: 1em; cursor: pointer }
.bop .bar .hover { opacity: .6 }
.bop .bar .dem { float: left; height: 100%; background-color: #5696FF }
.bop .bar .divider { height: 1.5em; border-left: 2px solid white; position: absolute; width: 1px; margin-top: -.2em; left: 50% }
.bop .bar .majority { text-align: center; font-size: .8em; height: 1.2em; position: absolute; width: 1em; color: #000; margin-top: -2.8em; line-height: 1.2em; left: calc(50% - 3em); text-transform: uppercase }
.bop .bar .gop { float: right; height: 100%; background-color: #FF6969 }

.map-legend .PartyDem { background-color: #5696FF }
.map-legend .PartyGOP { background-color: #FF6969 }
.map-legend.national-general { font-family: Roboto,Helvetica,Arial,sans-serif }
.map-legend.national-general .legend-section .legend-section-items .legend-item .legend-swatch.winner.PartyDem { background-color: #5696FF }
.map-legend.national-general .legend-section .legend-section-items .legend-item .legend-swatch.winner.PartyGOP { background-color: #FF6969 }
svg .biden { fill: #5696FF }
svg .trump { fill: #FF6969 }
svg .PartyDem { fill: #5696FF }
svg .PartyGOP { fill: #FF6969 }
svg.nationalGeneral .path.path-S.winner.PartyGOP { fill: #FF6969 }
svg.nationalGeneral .path.path-S.winner.PartyDem { fill: #5696FF }
.results-table .PartyDem, .state-results-block-table .PartyDem { background-color: #5696FF }
.results-table .PartyGOP, .state-results-block-table .PartyGOP { background-color: #FF6969 }

/*
@font-face { font-family: GoodWeb-Book; src: url(fonts/GoodWeb-Book.5998920e2bc823fa60ffbde7f0a50b42.woff) format("woff") }
@font-face { font-family: GoodWeb-Bold; src: url(fonts/GoodWeb-Bold.fd208db691242b49ffe7c69f51aa0ae4.woff) format("woff") }
@font-face { font-family: GoodWeb-CondBook; src: url(fonts/GoodWeb-CondBook.695e850fc88aa86ec03ca79aea01befc.woff) format("woff") }
@font-face { font-family: GoodWeb-CondBold; src: url(fonts/GoodWeb-CondBold.55354ebad5af0bb8e4980f52c03d1c46.woff) format("woff") }
*/
/*
body { font-family: Roboto,Helvetica,Arial,sans-serif; background-color: #fff }
#app { max-width: 960px; margin: 0 auto }
h1 { font-family: Roboto,Helvetica,Arial,sans-serif; font-size: 1.2em; font-weight: 100; color: #444; margin: .3em 0 .4em; text-transform: uppercase }
.mast, h1 { text-align: center }
.mast { margin: 0 auto }
.mast .ap-logo, .mast h1 { display: inline-block }
.mast .ap-logo { margin-right: .5em; height: 1.125em; width: .9375em; background-image: url(images/ap-logo.bb88df3f407e2fc371497eae7d537fe6.png); background-size: 100% }
.map-summary { width: 100% }
.note { text-align: left; font-size: .72rem; font-style: italic; color: #999 }
.office-nav { padding: 0; display: flex; justify-content: center; font-family: Roboto,Helvetica,Arial,sans-serif; list-style-type: none; position: relative; margin: .2em auto; text-transform: uppercase }
.office-nav .nav { margin-right: .5em }
.office-nav .nav-button { display: flex; margin-right: .5em; justify-content: center; cursor: pointer }
.office-nav .nav-button .label { opacity: .4 }
.office-nav .nav-button .label>:link { color: #000; text-decoration: none }
.office-nav .nav-button.selected .label { opacity: 1 }
.office-nav .nav-button .nav-label { display: flex }
.office-nav .nav-button .nav-label .dropdown-caret { float: right; content: ""; display: block; width: 0; height: 0; -moz-transform: scale(.9999); border-color: #777 transparent transparent; border-style: solid; border-width: .4em .4em 0; margin-left: .2em; margin-top: .4em }
.office-nav .nav-button .nav-label .dropdown-caret.bop { display: none }
.office-nav .nav-button>div { font-size: 1em; font-weight: 800 }
@media screen and (min-width:580px) {
	.office-nav .nav-button>div { font-size: 1.2em }
}
.office-nav .office-list { text-transform: none; max-height: 19.5em; margin-top: 2em; z-index: 10; background-color: #fff; border: 1px solid #ebebeb; padding: .3em; list-style-type: none; position: absolute; overflow: auto }
.office-nav .office-list>.inactive { color: #999; font-weight: 10 }
.office-nav .office-list>.active a { text-decoration: none; color: #333; font-weight: 100 }
.toggle { cursor: pointer; float: right; margin-top: -4.5em; position: relative; width: 4.5em; height: 4.5em; background-size: 4.5em auto; text-align: center }
.toggle:focus { outline: none }
.toggle>.toggle-label { font-family: Roboto,Helvetica,Arial,sans-serif; position: absolute; bottom: .3em; color: #666; width: 100%; text-align: center; text-transform: uppercase; font-size: .7em }
.toggle.geo { background-image: url(images/topo.96d7969e4cb3bd84ed295d99e4ee80e4.png) }
.toggle.carto { background-image: url(images/geo.b0c6673e623faee1f0717f0537f153cc.png) }
.race-top-lines { margin: 0 auto 1em; font-size: .8em; display: flex; justify-content: center }
@media screen and (min-width:580px) {
	.race-top-lines { font-size: 1em; width: 75% }
}
.race-top-lines .race-top-line { display: inline-block; margin: 0 1em; opacity: .5; text-align: center }
.race-top-lines .race-top-line.selected { opacity: 1; border-bottom: 1px solid #666; padding-bottom: .2em }
.race-top-lines a { text-decoration: none; display: block }
.race-top-lines .top-line-link { font-family: Roboto,Helvetica,Arial,sans-serif; font-weight: 900; list-style-type: none; color: #666; margin-left: .5em }
.race-top-lines .top-line-link.inactive { text-decoration: none }
.race-top-lines .top-line-link .candidate-names { margin-right: .3em }
.race-top-lines .top-line-link .margin-text { display: inline-block }
.race-top-lines .party-select { width: 4rem }
.race-top-lines .party-select.inactive { opacity: .6 }
.race-top-lines .party-select.Dem { padding: .25em .2em .1em; font-size: .65em; display: inline-block; font-weight: 900; background-color: #fff; border: 1px solid #5f9ace }
@media screen and (min-width:580px) {
	.race-top-lines .party-select.Dem { padding: .2em .4em .1em }
}
.race-top-lines .party-select.Dem:after { content: "DEMOCRAT"; color: #5f9ace }
.race-top-lines .party-select.Dem.selected { padding: .25em .2em .1em; font-size: .65em; display: inline-block; font-weight: 900; background-color: #5f9ace; border: 1px solid #5f9ace }
@media screen and (min-width:580px) {
	.race-top-lines .party-select.Dem.selected { padding: .2em .4em .1em }
}
.race-top-lines .party-select.Dem.selected:after { content: "DEMOCRAT"; color: #fff }
.race-top-lines .party-select.GOP { padding: .25em .2em .1em; font-size: .65em; display: inline-block; font-weight: 900; background-color: #fff; border: 1px solid #FF6969 }
@media screen and (min-width:580px) {
	.race-top-lines .party-select.GOP { padding: .2em .4em .1em }
}
.race-top-lines .party-select.GOP:after { content: "REPUBLICAN"; color: #FF6969 }
.race-top-lines .party-select.GOP.selected { padding: .25em .2em .1em; font-size: .65em; display: inline-block; font-weight: 900; background-color: #FF6969; border: 1px solid #FF6969 }
@media screen and (min-width:580px) {
	.race-top-lines .party-select.GOP.selected { padding: .2em .4em .1em }
}
.race-top-lines .party-select.GOP.selected:after { content: "REPUBLICAN"; color: #fff }
.race-top-lines .party-select.Opn { padding: .25em .2em .1em; font-size: .65em; display: inline-block; font-weight: 900; background-color: #fff; border: 1px solid #333 }
@media screen and (min-width:580px) {
	.race-top-lines .party-select.Opn { padding: .2em .4em .1em }
}
.race-top-lines .party-select.Opn:after { content: "SPECIAL"; color: #333 }
.race-top-lines .party-select.Opn.selected { padding: .25em .2em .1em; font-size: .65em; display: inline-block; font-weight: 900; background-color: #333; border: 1px solid #333 }
@media screen and (min-width:580px) {
	.race-top-lines .party-select.Opn.selected { padding: .2em .4em .1em }
}
.race-top-lines .party-select.Opn.selected:after { content: "SPECIAL"; color: #fff }
.state-results-block .race-description-subhead { font-size: 1.1em; color: #000 }
.state-results-block .race-description { font-size: .9em; color: #333 }
.results-table, .state-results-block-table { background-color: #fff; font-size: .89em }
.results-table table, .state-results-block-table table { width: 100%; border-spacing: 0 }
.results-table thead, .state-results-block-table thead { width: 100%; font-size: .8em; color: #555; text-transform: uppercase; font-weight: 900; vertical-align: bottom }
.results-table th, .state-results-block-table th { background-color: #fff }
.results-table tr.tied+tr.candidate>td, .results-table tr.winner+tr.candidate>td, .state-results-block-table tr.tied+tr.candidate>td, .state-results-block-table tr.winner+tr.candidate>td { padding-top: .75em }
.results-table td, .results-table th, .state-results-block-table td, .state-results-block-table th { border-bottom: 1px solid #ebebeb; padding-top: .1em; padding-bottom: .1em }
.results-table td.candidate, .results-table th.candidate, .state-results-block-table td.candidate, .state-results-block-table th.candidate { text-align: left }
.results-table td.candidate span, .results-table th.candidate span, .state-results-block-table td.candidate span, .state-results-block-table th.candidate span { margin-right: .5em }
.results-table td.vote-count, .results-table td.vote-percent, .results-table th.vote-count, .results-table th.vote-percent, .state-results-block-table td.vote-count, .state-results-block-table td.vote-percent, .state-results-block-table th.vote-count, .state-results-block-table th.vote-percent { text-align: right; padding-left: .6em }
.results-table .candidate-party, .state-results-block-table .candidate-party { cursor: help; font-style: italic; color: #999 }
.results-table .results-note, .state-results-block-table .results-note { background-color: #fff; color: #aaa; text-align: right; font-style: italic; margin-top: .1em; font-size: .8em }
.results-table .swatch, .state-results-block-table .swatch { display: block; float: left; width: 1.3em; height: 1.3em }
.results-table .swatch.winner-X, .state-results-block-table .swatch.winner-X { background-image: url(images/winner.f85b847e26bc1adc60b327808f84831d.svg); background-size: cover }
.results-table .swatch.winner-R, .state-results-block-table .swatch.winner-R { background-image: url(images/runoff.2299687140b8a615a309fba1b32a3b7d.svg); background-size: cover }
.results-table .swatch.winner-T, .state-results-block-table .swatch.winner-T { background-image: url(images/tie.8a50bab6f47adb7147a05ec303d6faf3.svg); background-size: cover }
.results-table .biden, .state-results-block-table .biden { background-color: #5696FF }
.results-table .bloomberg, .state-results-block-table .bloomberg { background-color: #b06100 }
.results-table .buttigieg, .state-results-block-table .buttigieg { background-color: #6fd8d8 }
.results-table .klobuchar, .state-results-block-table .klobuchar { background-color: #dfabde }
.results-table .sanders, .state-results-block-table .sanders { background-color: #e59e00 }
.results-table .steyer, .state-results-block-table .steyer { background-color: #4264a4 }
.results-table .trump, .state-results-block-table .trump { background-color: #FF6969 }
.results-table .weld, .state-results-block-table .weld { background-color: #73af73 }
.results-table .PartyDem, .state-results-block-table .PartyDem { background-color: #5696FF }
.results-table .PartyGOP, .state-results-block-table .PartyGOP { background-color: #FF6969 }
.results-table .PartyOther, .state-results-block-table .PartyOther { background-color: #e59e00 }
.results-table .Dem1, .state-results-block-table .Dem1 { background-color: #335294 }
.results-table .Dem2, .state-results-block-table .Dem2 { background-color: #94d4ff }
.results-table .Dem3, .state-results-block-table .Dem3 { background-color: #71c671 }
.results-table .Dem4, .state-results-block-table .Dem4 { background-color: #0c9bc7 }
.results-table .Dem5, .state-results-block-table .Dem5 { background-color: #be618d }
.results-table .Dem6, .state-results-block-table .Dem6 { background-color: #06ffff }
.results-table .Dem7, .state-results-block-table .Dem7 { background-color: #00b2ee }
.results-table .Dem8, .state-results-block-table .Dem8 { background-color: #025949 }
.results-table .Dem9, .state-results-block-table .Dem9 { background-color: #688929 }
.results-table .Dem10, .state-results-block-table .Dem10 { background-color: #FF6969 }
.results-table .Dem11, .state-results-block-table .Dem11 { background-color: #f9e075 }
.results-table .Dem12, .state-results-block-table .Dem12 { background-color: #0b122d }
.results-table .Dem13, .state-results-block-table .Dem13 { background-color: #12723c }
.results-table .Dem14, .state-results-block-table .Dem14 { background-color: #482417 }
.results-table .Dem15, .state-results-block-table .Dem15 { background-color: #cd99b4 }
.results-table .Dem16, .state-results-block-table .Dem16 { background-color: #1e3225 }
.results-table .Dem17, .state-results-block-table .Dem17 { background-color: #63b19f }
.results-table .Dem18, .state-results-block-table .Dem18 { background-color: #7171c6 }
.results-table .Dem19, .state-results-block-table .Dem19 { background-color: #7d9ec0 }
.results-table .Dem20, .state-results-block-table .Dem20 { background-color: #388e8e }
.results-table .Dem21, .state-results-block-table .Dem21 { background-color: #00b2ee }
.results-table .Dem22, .state-results-block-table .Dem22 { background-color: #8e8e38 }
.results-table .Dem23, .state-results-block-table .Dem23 { background-color: #32cd32 }
.results-table .Dem24, .state-results-block-table .Dem24 { background-color: #48d1cc }
.results-table .Dem25, .state-results-block-table .Dem25 { background-color: #025949 }
.results-table .Dem26, .state-results-block-table .Dem26 { background-color: #8bc9bd }
.results-table .GOP1, .state-results-block-table .GOP1 { background-color: #a9000e }
.results-table .GOP2, .state-results-block-table .GOP2 { background-color: #ee729d }
.results-table .GOP3, .state-results-block-table .GOP3 { background-color: #c48715 }
.results-table .GOP4, .state-results-block-table .GOP4 { background-color: #cdb899 }
.results-table .GOP5, .state-results-block-table .GOP5 { background-color: #c4d273 }
.results-table .GOP6, .state-results-block-table .GOP6 { background-color: #eb8076 }
.results-table .GOP7, .state-results-block-table .GOP7 { background-color: #0c9bc7 }
.results-table .GOP8, .state-results-block-table .GOP8 { background-color: #cd6839 }
.results-table .GOP9, .state-results-block-table .GOP9 { background-color: #683347 }
.results-table .GOP10, .state-results-block-table .GOP10 { background-color: #ee7621 }
.results-table .GOP11, .state-results-block-table .GOP11 { background-color: #025949 }
.results-table .GOP12, .state-results-block-table .GOP12 { background-color: #ed9121 }
.results-table .GOP13, .state-results-block-table .GOP13 { background-color: #cd5555 }
.results-table .GOP14, .state-results-block-table .GOP14 { background-color: #12723c }
.results-table .GOP15, .state-results-block-table .GOP15 { background-color: #ff3030 }
.results-table .GOP16, .state-results-block-table .GOP16 { background-color: #c76b4a }
.results-table .GOP17, .state-results-block-table .GOP17 { background-color: #5baaaa }
.results-table .GOP18, .state-results-block-table .GOP18 { background-color: #5696FF }
.results-table .GOP19, .state-results-block-table .GOP19 { background-color: #cd950c }
.results-table .GOP20, .state-results-block-table .GOP20 { background-color: #cdcd00 }
.results-table .GOP21, .state-results-block-table .GOP21 { background-color: #9a32cd }
.results-table .GOP22, .state-results-block-table .GOP22 { background-color: #b452cd }
.results-table .GOP23, .state-results-block-table .GOP23 { background-color: #cdb5cd }
.results-table .GOP24, .state-results-block-table .GOP24 { background-color: orchid }
.results-table .no-votes, .state-results-block-table .no-votes { background-color: #999 }
.results-table .no-race, .state-results-block-table .no-race { background-color: #ebebeb }
.results-table .other1, .state-results-block-table .other1 { background-color: #688929 }
.results-table .other2, .state-results-block-table .other2 { background-color: #e59e00 }
.results-table .other3, .state-results-block-table .other3 { background-color: #f9e075 }
.results-table .other4, .state-results-block-table .other4 { background-color: #683347 }
.results-table .other5, .state-results-block-table .other5 { background-color: #12723c }
.results-table .other6, .state-results-block-table .other6 { background-color: #482417 }
.results-table .other7, .state-results-block-table .other7 { background-color: #cd99b4 }
.results-table .other8, .state-results-block-table .other8 { background-color: #1e3225 }
.results-table .other9, .state-results-block-table .other9 { background-color: #5696FF }
.results-table .tie, .state-results-block-table .tie { background-color: #333 }
.results-table .runoff, .state-results-block-table .runoff { background-color: #c800ff }
.map-state { margin: 0 auto; max-width: 600px }
svg { overflow: visible }
svg .hovered-boundary .path.path-label, svg .hovered-boundary .path.path-S { stroke-opacity: 0 }
svg .hovered-boundary .path.no-race.path-label.path-S, svg .hovered-boundary .path.path-C, svg .hovered-boundary .path.path-L, svg .hovered-boundary .path.path-P, svg .hovered-boundary .path.site { fill-opacity: 0; stroke-opacity: 0 }
svg .map-specials-label { font-weight: 900; color: #333; margin-bottom: .6em; text-transform: uppercase; font-size: .7em; opacity: .7; margin-right: 2em }
svg .path { cursor: pointer; fill-opacity: 0; fill: #999; stroke: #999; stroke-opacity: .6 }
svg .path.disabled { cursor: not-allowed }
svg .path.uncalled.uncontested.noVotes { fill: #999 }
svg .path.path-S.uncalled.tied, svg .path.uncalled.tied { fill: #333; fill-opacity: 1 }
@media (hover:hover) {
	svg .path:hover { stroke: #333 }
}
svg .path.path-S { fill-opacity: 1 }
svg .path.path-S.uncalled { fill-opacity: .6 }
svg .path.path-S.uncalled.path-label { fill-opacity: .9 }
svg .path.path-S.lead, svg .path.path-S.winner { stroke: #dadada }
@media (hover:hover) {
	svg .path.path-S:hover { stroke: #333; stroke-opacity: 1; fill-opacity: 0 }
	svg .path.path-S.special:hover { fill-opacity: 1 }
	svg .path.path-S.uncalled.special:hover { fill-opacity: .6 }
}
svg .path.path-S.no-race { cursor: default; fill: #fff; fill-opacity: .5; stroke-opacity: .4 }
svg .path.path-S.no-race.path-label { fill: #333; stroke-opacity: 0; fill-opacity: 1 }
@media (hover:hover) {
	svg .path.path-S.no-race:hover { stroke: #999; fill-opacity: 0; stroke-opacity: 0 }
}
svg .path.path-C, svg .path.path-L, svg .path.path-P, svg .path.site { fill-opacity: .7; stroke-opacity: 0 }
@media (hover:hover) {
	svg .path.path-C:hover, svg .path.path-L:hover, svg .path.path-P:hover, svg .path.site:hover { stroke: #333; stroke-opacity: 1; stroke-width: .5 }
	svg .path.path-C.no-race:hover, svg .path.path-L.no-race:hover, svg .path.path-P.no-race:hover, svg .path.site.no-race:hover { cursor: default; stroke-opacity: 0 }
}
svg .path.path-D { stroke-opacity: 0 }
@media (hover:hover) {
	svg .path.path-D:hover { fill: #666; fill-opacity: .1 }
}
svg .path.path-D.no-race { cursor: default }
@media (hover:hover) {
	svg .path.path-D.no-race:hover { fill: #fff }
}
svg text.path-label { font-size: 1em; fill: #fff; stroke-opacity: 0; dominant-baseline: central }
svg text.path-label.no-race { opacity: .4 }
svg .city { pointer-events: none }
svg .city text { font-size: 1em; font-weight: 100 }
svg .city circle { stroke: #222; stroke-width: .1em }
@media (hover:hover) {
	svg.selected .path:hover { stroke: inherit }
}
svg.selected .path.selected { fill-opacity: 50%; stroke: #333; stroke-width: 2; stroke-opacity: 1 }
@media (hover:hover) {
	svg.selected .path.selected:hover { fill-opacity: 50%; stroke: #333; stroke-width: 2; stroke-opacity: 1 }
}

svg .bloomberg { fill: #b06100 }
svg .buttigieg { fill: #6fd8d8 }
svg .klobuchar { fill: #dfabde }
svg .sanders { fill: #e59e00 }
svg .steyer { fill: #4264a4 }

svg .weld { fill: #73af73 }

svg .PartyOther { fill: #e59e00 }
svg .Dem1 { fill: #335294 }
svg .Dem2 { fill: #94d4ff }
svg .Dem3 { fill: #71c671 }
svg .Dem4 { fill: #0c9bc7 }
svg .Dem5 { fill: #be618d }
svg .Dem6 { fill: #06ffff }
svg .Dem7 { fill: #00b2ee }
svg .Dem8 { fill: #025949 }
svg .Dem9 { fill: #688929 }
svg .Dem10 { fill: #FF6969 }
svg .Dem11 { fill: #f9e075 }
svg .Dem12 { fill: #0b122d }
svg .Dem13 { fill: #12723c }
svg .Dem14 { fill: #482417 }
svg .Dem15 { fill: #cd99b4 }
svg .Dem16 { fill: #1e3225 }
svg .Dem17 { fill: #63b19f }
svg .Dem18 { fill: #7171c6 }
svg .Dem19 { fill: #7d9ec0 }
svg .Dem20 { fill: #388e8e }
svg .Dem21 { fill: #00b2ee }
svg .Dem22 { fill: #8e8e38 }
svg .Dem23 { fill: #32cd32 }
svg .Dem24 { fill: #48d1cc }
svg .Dem25 { fill: #025949 }
svg .Dem26 { fill: #8bc9bd }
svg .GOP1 { fill: #a9000e }
svg .GOP2 { fill: #ee729d }
svg .GOP3 { fill: #c48715 }
svg .GOP4 { fill: #cdb899 }
svg .GOP5 { fill: #c4d273 }
svg .GOP6 { fill: #eb8076 }
svg .GOP7 { fill: #0c9bc7 }
svg .GOP8 { fill: #cd6839 }
svg .GOP9 { fill: #683347 }
svg .GOP10 { fill: #ee7621 }
svg .GOP11 { fill: #025949 }
svg .GOP12 { fill: #ed9121 }
svg .GOP13 { fill: #cd5555 }
svg .GOP14 { fill: #12723c }
svg .GOP15 { fill: #ff3030 }
svg .GOP16 { fill: #c76b4a }
svg .GOP17 { fill: #5baaaa }
svg .GOP18 { fill: #5696FF }
svg .GOP19 { fill: #cd950c }
svg .GOP20 { fill: #cdcd00 }
svg .GOP21 { fill: #9a32cd }
svg .GOP22 { fill: #b452cd }
svg .GOP23 { fill: #cdb5cd }
svg .GOP24 { fill: orchid }
svg .no-votes { fill: #999 }
svg .no-race { fill: #ebebeb }
svg .other1 { fill: #688929 }
svg .other2 { fill: #e59e00 }
svg .other3 { fill: #f9e075 }
svg .other4 { fill: #683347 }
svg .other5 { fill: #12723c }
svg .other6 { fill: #482417 }
svg .other7 { fill: #cd99b4 }
svg .other8 { fill: #1e3225 }
svg .other9 { fill: #5696FF }
svg .tie { fill: #333 }
svg .runoff { fill: #c800ff }
.party-select { display: block; margin: 1em auto 0; text-align: center }
.party-select .party-select-button { width: 4rem }
.party-select .Dem { padding: .25em .2em .1em; font-size: .65em; font-weight: 900; background-color: #5f9ace; border: 1px solid #5f9ace; display: inline-block; margin: 0 1em }
@media screen and (min-width:580px) {
	.party-select .Dem { padding: .2em .4em .1em }
}
.party-select .Dem:after { content: "DEMOCRAT"; color: #fff }
.party-select .Dem.inactive { padding: .25em .2em .1em; font-size: .65em; display: inline-block; font-weight: 900; background-color: #fff; border: 1px solid #5f9ace }
@media screen and (min-width:580px) {
	.party-select .Dem.inactive { padding: .2em .4em .1em }
}
.party-select .Dem.inactive:after { content: "DEMOCRAT"; color: #5f9ace }
.party-select .GOP { padding: .25em .2em .1em; font-size: .65em; font-weight: 900; background-color: #FF6969; border: 1px solid #FF6969; display: inline-block; margin: 0 1em }
@media screen and (min-width:580px) {
	.party-select .GOP { padding: .2em .4em .1em }
}
.party-select .GOP:after { content: "REPUBLICAN"; color: #fff }
.party-select .GOP.inactive { padding: .25em .2em .1em; font-size: .65em; display: inline-block; font-weight: 900; background-color: #fff; border: 1px solid #FF6969 }
@media screen and (min-width:580px) {
	.party-select .GOP.inactive { padding: .2em .4em .1em }
}
.party-select .GOP.inactive:after { content: "REPUBLICAN"; color: #FF6969 }
.custom-select__value-container { width: 12em; height: 2.1em }
.custom-select__control { font-size: .8em; color: #727272; background-color: transparent; border-radius: 1em !important; height: 1em !important; min-height: 2em !important; border: 1px solid #b5b5b5 !important }
.custom-select__option { font-size: .8em !important; color: #727272; margin: -.4em 0 !important }
.custom-select__control--is-focused { border-color: inherit !important; -webkit-box-shadow: none !important; box-shadow: none !important }
.custom-select__input { font-size: .9em !important; color: #727272 }
.custom-select__indicator { border: none !important; position: relative; width: 1em; margin-right: .5em; margin-bottom: .2em; height: 1em; background-image: url(images/search.6bc9eb191094a254b4a8011f009e0cd6.png); background-size: 1.4em 1.4em; background-position: 50%; vertical-align: top }
.custom-select__indicator-separator, .custom-select__indicator svg { display: none }
.results-tooltip { position: absolute; top: 0; left: 0; padding: .5em; border: 1px solid #ebebeb; background-color: #fff; z-index: 1; transform-origin: 0 0; font-size: .9em }
.results-tooltip .results-table { max-height: 15em; overflow: auto }
.results-tooltip .results-note { background-color: #fff; color: #aaa; text-align: right; font-style: italic; margin-top: .1em; font-size: .8em }
.results-tooltip .tooltip-label { font-weight: 900; color: #333; margin-bottom: .2em; text-transform: uppercase; font-size: .8em; opacity: .7; margin-right: 2em }
.results-tooltip .tooltip-ev { font-weight: 900; color: #777; margin-bottom: .2em; font-size: .9em }
.results-tooltip .close { background-image: url(images/close.673767b20b0c36bf9270cbd3ee379144.svg); background-size: cover; float: right; width: 1.2em; height: 1.2em; margin-top: -.2em }
@media screen and (min-width:580px) {
	.state-results .state-results-block { vertical-align: top; display: inline-block }
	.state-results .state-results-block.state-results-block-map { width: 50%; padding-left: .5em }
	.state-results .state-results-block.state-results-block-table { margin-left: 1.25em; width: calc(50% - 2.25em) }
	.toggle { margin-top: -6em; width: 6em; height: 6em; background-size: 6em auto }
	.toggle>.toggle-label { bottom: .5em; font-size: .8em }
}
@media (max-width:420px) {
	.toggle { margin-top: -6em; width: 3.12em; height: 3.12em; background-size: 3.12em auto }
	.toggle>.toggle-label { bottom: -1em; font-size: .7em; line-height: 1em }
}
.office-state .office-state-block { display: inline-block; vertical-align: top }
.office-state .office-state-block.office-state-block-map { width: 10% }
.office-state .office-state-block.office-state-block-table { width: calc(30% - 16px) }
.other-races { font-family: Roboto,Helvetica,Arial,sans-serif; font-weight: 100; font-size: 1em; margin-top: 0; margin-bottom: 1.5em }
.other-races .other-races-group { margin-right: .4em }
@media screen and (min-width:580px) {
	.other-races .other-races-group { display: inline-block }
}
.other-races .other-races-group .label { opacity: .6 }
.other-races .other-races-group .link { margin: 0 .2em }
.other-races .other-races-group .link a { color: inherit }
.topline-table .topline-table-content { border-bottom: 1px solid #aaa; padding-bottom: .4em; margin-bottom: .4em }
.topline-table .topline-table-content .topline-candidates { margin-bottom: .4em }
.topline-table .results-note.progress-percentage { margin-top: .4em; padding-right: .1em; font-size: .7rem; text-align: right }
.map-legend { text-align: center }
.map-legend .legend-key { font-family: Roboto,Helvetica,Arial,sans-serif; font-size: .9em; color: #666 }
.map-legend .legend-label { font-family: Roboto,Helvetica,Arial,sans-serif; display: inline-block; color: #777; font-size: .8em; margin: .2em .6em 0 .3em; vertical-align: top; line-height: 1em }
.map-legend .legend-swatch { display: inline-block; position: relative; height: 1em; width: 1em; overflow: hidden; background-color: grey; transform: scaleY(-1); -moz-transform: scaleY(-1); transform: rotate(180deg); -moz-transform: rotate(180deg) }
.map-legend .legend-swatch.noVotes, .map-legend .legend-swatch.noVotes:before { background-color: #999 }
.map-legend .legend-swatch.tied, .map-legend .legend-swatch.tied:before { background-color: #333 }
.map-legend .legend-swatch.runoff, .map-legend .legend-swatch.runoff:before { background-color: #c800ff }
.map-legend .legend-swatch:before { content: ""; position: absolute; left: 20%; width: 100%; height: 200%; background-color: #fff; background-color: hsla(0, 0%, 100%, .6); top: 0; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); transform: rotate(45deg) }
.map-legend .biden { background-color: #5696FF }
.map-legend .bloomberg { background-color: #b06100 }
.map-legend .buttigieg { background-color: #6fd8d8 }
.map-legend .klobuchar { background-color: #dfabde }
.map-legend .sanders { background-color: #e59e00 }
.map-legend .steyer { background-color: #4264a4 }
.map-legend .trump { background-color: #FF6969 }
.map-legend .weld { background-color: #73af73 }
.map-legend .PartyDem { background-color: #5696FF }
.map-legend .PartyGOP { background-color: #FF6969 }
.map-legend .PartyOther { background-color: #e59e00 }
.map-legend .Dem1 { background-color: #335294 }
.map-legend .Dem2 { background-color: #94d4ff }
.map-legend .Dem3 { background-color: #71c671 }
.map-legend .Dem4 { background-color: #0c9bc7 }
.map-legend .Dem5 { background-color: #be618d }
.map-legend .Dem6 { background-color: #06ffff }
.map-legend .Dem7 { background-color: #00b2ee }
.map-legend .Dem8 { background-color: #025949 }
.map-legend .Dem9 { background-color: #688929 }
.map-legend .Dem10 { background-color: #FF6969 }
.map-legend .Dem11 { background-color: #f9e075 }
.map-legend .Dem12 { background-color: #0b122d }
.map-legend .Dem13 { background-color: #12723c }
.map-legend .Dem14 { background-color: #482417 }
.map-legend .Dem15 { background-color: #cd99b4 }
.map-legend .Dem16 { background-color: #1e3225 }
.map-legend .Dem17 { background-color: #63b19f }
.map-legend .Dem18 { background-color: #7171c6 }
.map-legend .Dem19 { background-color: #7d9ec0 }
.map-legend .Dem20 { background-color: #388e8e }
.map-legend .Dem21 { background-color: #00b2ee }
.map-legend .Dem22 { background-color: #8e8e38 }
.map-legend .Dem23 { background-color: #32cd32 }
.map-legend .Dem24 { background-color: #48d1cc }
.map-legend .Dem25 { background-color: #025949 }
.map-legend .Dem26 { background-color: #8bc9bd }
.map-legend .GOP1 { background-color: #a9000e }
.map-legend .GOP2 { background-color: #ee729d }
.map-legend .GOP3 { background-color: #c48715 }
.map-legend .GOP4 { background-color: #cdb899 }
.map-legend .GOP5 { background-color: #c4d273 }
.map-legend .GOP6 { background-color: #eb8076 }
.map-legend .GOP7 { background-color: #0c9bc7 }
.map-legend .GOP8 { background-color: #cd6839 }
.map-legend .GOP9 { background-color: #683347 }
.map-legend .GOP10 { background-color: #ee7621 }
.map-legend .GOP11 { background-color: #025949 }
.map-legend .GOP12 { background-color: #ed9121 }
.map-legend .GOP13 { background-color: #cd5555 }
.map-legend .GOP14 { background-color: #12723c }
.map-legend .GOP15 { background-color: #ff3030 }
.map-legend .GOP16 { background-color: #c76b4a }
.map-legend .GOP17 { background-color: #5baaaa }
.map-legend .GOP18 { background-color: #5696FF }
.map-legend .GOP19 { background-color: #cd950c }
.map-legend .GOP20 { background-color: #cdcd00 }
.map-legend .GOP21 { background-color: #9a32cd }
.map-legend .GOP22 { background-color: #b452cd }
.map-legend .GOP23 { background-color: #cdb5cd }
.map-legend .GOP24 { background-color: orchid }
.map-legend .no-votes { background-color: #999 }
.map-legend .no-race { background-color: #ebebeb }
.map-legend .other1 { background-color: #688929 }
.map-legend .other2 { background-color: #e59e00 }
.map-legend .other3 { background-color: #f9e075 }
.map-legend .other4 { background-color: #683347 }
.map-legend .other5 { background-color: #12723c }
.map-legend .other6 { background-color: #482417 }
.map-legend .other7 { background-color: #cd99b4 }
.map-legend .other8 { background-color: #1e3225 }
.map-legend .other9 { background-color: #5696FF }
.map-legend .tie { background-color: #333 }
.map-legend .runoff { background-color: #c800ff }
.select-boundary { display: inline-block; margin-bottom: 1.25em }
.timestamp { clear: both; text-align: left; font-size: .72rem; font-style: italic; color: #999 }
span.race-status.runoff, span.race-status.tied, span.race-status.winner { display: inline-block; width: 1em; height: 1em; border: 1px solid #000; border-radius: 50%; vertical-align: sub; margin-right: .3em; background-size: cover; background-color: inherit }
span.race-status.runoff.white, span.race-status.tied.white, span.race-status.winner.white { border: 1px solid #fff }
span.race-status.winner { background-image: url(images/winner_black.ed1f4c12405e266a8405bf0dfa6e5316.svg) }
span.race-status.winner.white { background-image: url(images/winner.f85b847e26bc1adc60b327808f84831d.svg) }
span.race-status.runoff { background-image: url(images/runoff_black.f665f9ff8488a9776d7f766441cfd91d.svg) }
span.race-status.runoff.white { background-image: url(images/runoff.2299687140b8a615a309fba1b32a3b7d.svg) }
span.race-status.tied { background-image: url(images/tie_black.4d1ba98faaa00b3dd5a37c92e713331d.svg) }
span.race-status.tied.white { background-image: url(images/tie.8a50bab6f47adb7147a05ec303d6faf3.svg) }
.margin-text { text-transform: uppercase; font-size: .7rem; color: #aaa }
.margin-text.simple { color: inherit }
.watermark { background: url(images/test.88a0342da0e6f8a074a8565c66badf30.png); z-index: -100; position: fixed; top: 0; left: 0; width: 100vw; height: 100vh }
.special-races { font-family: Roboto,Helvetica,Arial,sans-serif; font-weight: 100; font-size: 1em; margin-top: 0; margin-bottom: 1.5em }
.special-races a { color: inherit }
.special-races .special-race-link { margin: 0 .2em }
h2.state-headline { font-family: Roboto,Helvetica,Arial,sans-serif; font-weight: 900; color: #444; margin: .5em 0; font-size: 1.2em }
@media screen and (min-width:580px) {
	h2.state-headline { font-size: 1.7em }
}
.race-chips { font-size: .9em; margin-top: 4px }
.race-chips a.race-chip { display: inline-block; padding: 1px 4px; margin: 1px 2px; opacity: .5; text-decoration: none; color: #fff; cursor: pointer }
.race-chips a.race-chip.race-chip-winner { opacity: 1 }
.race-chips a.race-chip.no-lead { color: #000; background-color: #b5b5b6 }
.race-chips a.race-chip .ruid { margin-right: 4px }
.bop { width: 100%; margin-bottom: 1em }
.bop .label { display: inline; font-family: Roboto,Helvetica,Arial,sans-serif; font-size: 1.3em; line-height: .6em }
.bop .label.dem { float: left }
.bop .label.gop { float: right }
.bop .ind { margin-top: .3em; font-size: .8em; color: grey }
.bop .ind.dem { float: left }
.bop .ind.gop { float: right }
.bop .bop-tooltip { text-align: center; padding: .1rem .3rem; position: absolute; z-index: 100; transform: translate(-50%, 2.3em); background-color: #fff; font-family: Roboto,Helvetica,Arial,sans-serif; font-size: .9em; color: #666; border: 1px solid #ebebeb; opacity: 0; transition: opacity .2s }
.bop .bop-tooltip.visible { opacity: 1 }
.bop .bop-tooltip>.state { font-family: Roboto,Helvetica,Arial,sans-serif; font-size: .9em }
.bop .bop-tooltip>.dem { color: #5696FF }
.bop .bop-tooltip>.gop { color: #FF6969 }
.bop .bop-tooltip>.divider { color: #666; margin: 0 .3em }
.bop .bop-tooltip>.unallocated { color: #999 }
.bop .ev-label { font-size: .9em; color: grey; margin-left: .2em; display: inline-block }
.bop .count { font-size: 2.5em; font-family: Roboto,Helvetica,Arial,sans-serif }
.bop .count.dem { color: #5696FF; display: inline }
.bop .count.gop { color: #FF6969 }
.bop .vote-wrapper { height: 1.2em }
.bop .vote-wrapper .votes { font-size: .8em; color: grey; margin-top: .3em }
.bop .vote-wrapper .votes.votes-gop { float: right }
.bop .vote-wrapper .votes.votes-dem { float: left }
.bop .bop-dem { width: 48%; position: relative; float: left }
.bop .bop-gop { width: 48%; vertical-align: bottom; float: right; text-align: right }

.bop .swatch { display: inline-block; width: 1em; height: 1em; border-radius: 50%; vertical-align: top; margin-right: .5em; margin-top: -.1em }
.bop .swatch.gop { float: right }
.bop .swatch.winner-X { background-color: green; border: 1px solid green; background-image: url(images/winner.f85b847e26bc1adc60b327808f84831d.svg); background-size: cover }
.bop .swatch.winner-R { background-image: url(images/runoff.2299687140b8a615a309fba1b32a3b7d.svg); background-size: cover }
.bop .swatch.winner-T { background-image: url(images/tie.8a50bab6f47adb7147a05ec303d6faf3.svg); background-size: cover }
.bop .art { margin-top: -.6em; width: 5em; height: 5.3em; background-size: 100% }
.bop .art.dem { float: left }
.bop .art.dem.pres.y2016, .bop .art.dem.pres.y2116 { background-image: url(images/clinton.7da4be228d7bf45923526d1612214602.jpg) }
.bop .art.dem.pres.y2020 { background-image: url(images/biden.7da4be228d7bf45923526d1612214602.jpg) }
.bop .art.dem.party { background-image: url(images/party-dem.db0b7454cc230cb7614c48920a55e6c1.png) }
.bop .art.gop { float: right }
.bop .art.gop.pres.y2016, .bop .art.gop.pres.y2020, .bop .art.gop.pres.y2116 { background-image: url(images/trump.92978fbac914888d9cfc422f6e05a846.jpg) }
.bop .art.gop.party { background-image: url(images/party-gop.c571290b1c437c30db280f0486301c9b.png) }
.nav { display: block }
.nav .bop-summary { border: 1px solid #ebebeb; position: relative; display: block; width: 3.5em; margin: 0 auto; padding: .1em .3em; border-radius: .8em; text-align: center; font-family: Roboto,Helvetica,Arial,sans-serif; font-size: .9em }
.nav .bop-summary>.dem { color: #5696FF }
.nav .bop-summary>.gop { color: #FF6969 }
.nav .bop-summary>.divider { color: #666; margin: 0 .3em }
.race-call-alerts { position: absolute; top: 0; left: 0; width: 100% }
.race-call-alerts .race-call-label { color: #666; display: flex; justify-content: center; align-items: center; font-family: Roboto,Helvetica,Arial,sans-serif }
.race-call-alerts span.race-status.runoff, .race-call-alerts span.race-status.winner { display: inline-block; width: 1em; height: 1em; border-radius: 50%; vertical-align: sub; margin-right: .3em }
.race-call-alerts span.race-status.winner { background-color: green; border: 1px solid green; background-image: url(images/winner.f85b847e26bc1adc60b327808f84831d.svg); background-size: cover }
.race-call-alerts span.race-status.runoff { background-color: #c800ff; border: 1px solid #c800ff; background-image: url(images/runoff.2299687140b8a615a309fba1b32a3b7d.svg); background-size: cover }
.race-call-alerts .race-call-alert-selection { position: absolute; left: 50%; top: 0; transform: translate(-50%); display: flex; justify-content: center; align-items: center; z-index: 200 }
.race-call-alerts .race-call-alert-selection .race-call-alert { padding: 2px 4px; border: 1px solid #ebebeb; border-radius: 4px; box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06); background-color: #fff; display: inline-block; position: relative; -moz-transform: translateY(-50px); -webkit-transform: translateY(-50px); -o-transform: translateY(-50px); -ms-transform: translateY(-50px); transform: translateY(-50px); -webkit-transform: scale(.2); -webkit-transition-timing-function: cubic-bezier(.515, .01, 0, 1); -webkit-transition-timing-function: cubic-bezier(.515, .01, 0, 1.305); -moz-transition-timing-function: cubic-bezier(.515, .01, 0, 1.305); -o-transition-timing-function: cubic-bezier(.515, .01, 0, 1.305); transition-timing-function: cubic-bezier(.515, .01, 0, 1.305); transition-duration: .3s }
.race-call-alerts .race-call-alert-selection .race-call-alert.in { -moz-transform: translate(0); -webkit-transform: translate(0); -o-transform: translate(0); -ms-transform: translate(0); transform: translate(0) }
.race-call-alerts .race-call-alert-selection .race-call-alert a { display: inline-block; color: inherit; text-decoration: none }
.race-call-alerts .race-call-alert-selection .race-call-alert a .race-call-candidates { font-family: Roboto,Helvetica,Arial,sans-serif }
.race-call-alerts .race-call-alert-selection .race-call-alert a .race-call-details { font-family: Roboto,Helvetica,Arial,sans-serif; color: #999 }
.race-call-alerts .race-call-alert-selection .race-call-alert-selector { width: 24px; height: 42px; margin: 0 4px }
.race-call-alerts .race-call-alert-selection .race-call-alert-selector.next, .race-call-alerts .race-call-alert-selection .race-call-alert-selector.previous { cursor: pointer; border: 1px solid #ebebeb; border-radius: 4px; box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06); background-color: #fff }
.race-call-alerts .race-call-alert-selection .race-call-alert-selector.previous { background-repeat: no-repeat; background-position: 50%; background-image: url(images/navigate_before-24px.75589b2756235581dae46292357cee00.svg) }
.race-call-alerts .race-call-alert-selection .race-call-alert-selector.next { background-image: url(images/navigate_next-24px.22c1f3d98509b4e20593860b6410a6ad.svg); background-repeat: no-repeat; background-position: 50% }
.special-select { display: block; font-size: 13px; font-family: Roboto,Helvetica,Arial,sans-serif; color: #888; line-height: 1em; padding: .45em 1.8em .4em .8em; box-sizing: border-box; margin: 0; border: 1px solid #aaa; border-radius: 1em; -moz-appearance: none; -webkit-appearance: none; appearance: none; background-color: #fff; background-image: url(images/caret.a57632b2d134405248e2ec7cb20e63ff.svg); background-repeat: no-repeat, repeat; background-position: right .7em top 50%, 0 0; background-size: .65em auto, 100% }
.special-select::-ms-expand { display: none }
.special-select:hover { border-color: #888 }
.special-select:focus { border: 1px solid #aaa; outline: none }
.special-select option { font-weight: 400; background-color: red; font-family: Roboto,Helvetica,Arial,sans-serif }
.expected-vote-summary .expected-vote-chatter { text-align: left; font-size: .82rem; font-style: italic; color: #999 }
.expected-vote-summary .expected-vote-chatter .eevp { color: #2c2c2c; font-weight: 400 }
.expected-vote-summary .expected-vote-pie { margin: .2em; cursor: pointer }
.loading { display: flex; flex-direction: column; justify-content: center; align-items: center; color: #777 }
.loading .loading-carto { margin: 30px 0 12px }
.loading .loading-carto .loading-carto-rect { fill-opacity: .2; transition: fill-opacity .4s }
.loading .loading-carto .loading-carto-rect.visible { fill-opacity: 1 }
*/
