.mast .ap-logo { margin-right: .5em; height: 1.125em; width: 7em; background-image: url(https://static.particlenews.com/m/static/imgs/logo.png); background-size: 100% }
.race-top-lines .party-select.Dem { padding: .25em .2em .1em; font-size: .65em; display: inline-block; font-weight: 900; background-color: #fff; border: 1px solid #5696FF }
.race-top-lines .party-select.Dem:after { content: "DEMOCRAT"; color: #5696FF }
.race-top-lines .party-select.Dem.selected { padding: .25em .2em .1em; font-size: .65em; display: inline-block; font-weight: 900; background-color: #5696FF; border: 1px solid #5696FF }
.party-select .Dem { padding: .25em .2em .1em; font-size: .65em; font-weight: 900; background-color: #5696FF; border: 1px solid #5696FF; display: inline-block; margin: 0 1em }
.party-select .Dem.inactive { padding: .25em .2em .1em; font-size: .65em; display: inline-block; font-weight: 900; background-color: #fff; border: 1px solid #5696FF }
.party-select .Dem.inactive:after { content: "DEMOCRAT"; color: #5f9ace }

